@use "./variables" as *;
@use "bootstrap/scss/bootstrap" with (
  $primary:   $primary,
  $secondary: $secondary,
  $success:   $success,
  $info:      $info,
  $warning:   $warning,
  $danger:    $danger,
  $light:     $light,
  $dark:      $dark,
  $theme-colors: $theme-colors
);

// Iconos (CSS plano, OK que vaya después)
@use "bootstrap-icons/font/bootstrap-icons.css";

// Importación de componentes del layout
@use "../components/layout/BaseLayout/_BaseLayout";
@use "../components/layout/Header/_Header";
@use "../components/layout/Footer/_Footer";

// Importación de componentes de las secciones del home
@use "../components/sections/Hero/_Hero";
@use "../components/sections/WhatWeDo/_WhatWeDo";
@use "../components/sections/ImpactStats/_ImpactStats";
@use "../components/sections/Partners/_Partners";
@use "../components/sections/Headquarters/_Headquarters";
@use "../components/sections/FbFeed/_FbFeed";

// Importación de componentes de las secciones del quienes somos
@use "../components/sections/Pillars/_Pillars";
@use "../components/sections/Timeline/_Timeline";
@use "../components/sections/Org/_Org";


// Importación de componentes de las secciones del que hacemos
@use "../components/sections/ServicesGrid/_ServicesGrid";
@use "../components/sections/ProjectsList/_ProjectsList";
@use "../components/sections/Workshops/_Workshops";

// Importación de componentes de las secciones del contacto
@use "../components/sections/ContactInfo/_ContactInfo";
@use "../components/sections/MapEmbed/_MapEmbed";
@use "../components/sections/SocialLinks/_SocialLinks";

// Estilos globales adicionales asociados a las paginas
//@import "../pages/home/_Home";