@use "./variables" as *;
@use "bootstrap/scss/bootstrap" with (
  $primary:   $primary,
  $secondary: $secondary,
  $success:   $success,
  $info:      $info,
  $warning:   $warning,
  $danger:    $danger,
  $light:     $light,
  $dark:      $dark,
  $theme-colors: $theme-colors
);

// Iconos (CSS plano, OK que vaya después)
@import "bootstrap-icons/font/bootstrap-icons.css";

// Importación de componentes del layout
@import "../components/layout/BaseLayout/_BaseLayout";
@import "../components/layout/Header/_Header";
@import "../components/layout/Footer/_Footer";

// Importación de componentes de las secciones del home
@import "../components/sections/Hero/_Hero";
@import "../components/sections/WhatWeDo/_WhatWeDo";
@import "../components/sections/ImpactStats/_ImpactStats";
@import "../components/sections/Partners/_Partners";
@import "../components/sections/Headquarters/_Headquarters";
@import "../components/sections/FbFeed/_FbFeed";

// Importación de componentes de las secciones del quienes somos
@import "../components/sections/Pillars/_Pillars.scss";
@import "../components/sections/Timeline/_Timeline.scss";
@import "../components/sections/Org/_Org.scss";


// Importación de componentes de las secciones del que hacemos
@import "../components/sections/ServicesGrid/_ServicesGrid.scss";
@import "../components/sections/ProjectsList/_ProjectsList.scss";
@import "../components/sections/Workshops/_Workshops.scss";

// Importación de componentes de las secciones del contacto
@import "../components/sections/ContactInfo/_ContactInfo.scss";
@import "../components/sections/MapEmbed/_MapEmbed.scss";
@import "../components/sections/SocialLinks/_SocialLinks.scss";

// Estilos globales adicionales asociados a las paginas
//@import "../pages/home/_Home";